section {
  background-color: rgba(190, 190, 190, 0.397);
}

.name {
  background-color: white;

}

.textContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
}

.text {
  font-size: 1.2em;
  font-weight: 560;
}